h1{
    padding-top: 200px;
    text-align: center;
}
.options{
    text-align: center;
}

.no{
    position: relative;
   /* left: 100px;
   top:100px; */
}
@media (max-width: 768px) {
    body {
      display: none;
    }
  }

  /* Hide content on Mobile */
  @media (max-width: 576px) {
    body {
      display: none;
    }
  }
